body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}
header {
  background-color: #575859;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}
header nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #007bff;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav a:hover {
  text-decoration: underline;
}
header h1 {
  margin: 0;
  color: #17191a;
  font-size: larger;
}
header nav a img {
  width: 2rem;
  height: 2rem;
  margin-right: 8px;
  background-color: yellow;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0);
  animation: zigzag-in 5s ease-in-out forwards;
}

@keyframes zigzag-in {
  0% {
    transform: translateX(-100px) translateY(0px);
  }
  10% {
    transform: translateX(-90px) translateY(-10px);
  }
  10% {
    transform: translateX(-80px) translateY(10px);
  }
  30% {
    transform: translateX(-70px) translateY(-10px);
  }
  40% {
    transform: translateX(-60px) translateY(10px);
  }
  50% {
    transform: translateX(-50px) translateY(-10px);
  }
  60% {
    transform: translateX(-40px) translateY(10px);
  }
  70% {
    transform: translateX(-30px) translateY(-10px);
  }
  80% {
    transform: translateX(-20px) translateY(10px);
  }
  90% {
    transform: translateX(-10px) translateY(-10px);
  }
  100% {
    transform: translateX(0px) translateY(0px);
  }
}
form {
  max-width: 700px;
  margin: 20px auto;
  padding: 20px;
}
form div {
  margin: auto;
  width: 100%;
  display: flex;
  gap: 10px;
}
form button {
  padding: 10px 15px;
  background-color: #575859;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
form button::before {
  content: "+ ";
  font-weight: bold;
}
form input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
section {
  max-width: 700px;
  margin: 20px auto;
  padding: 20px;
}
section h1,
section h3 {
  margin-top: 0;
  text-align: center;
}
section ul {
  max-width: 700px;
  margin: 20px auto;
  padding: 0;
  list-style-type: none;
}
section ul li {
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: larger;
  font-weight: bold;
}
section ul li button {
  background-color: #dc3545;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}
