body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}
header {
  background-color: #575859;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}
header nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #007bff;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav a:hover {
  text-decoration: underline;
}
header h1 {
  margin: 0;
  color: #17191a;
  font-size: larger;
}
header nav a img {
  width: 2rem;
  height: 2rem;
  margin-right: 8px;
  background-color: yellow;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0);
  animation: zigzag-in 5s ease-in-out forwards;
}

@keyframes zigzag-in {
  0% {
    transform: translateX(-100px) translateY(0px);
  }
  10% {
    transform: translateX(-90px) translateY(-10px);
  }
  10% {
    transform: translateX(-80px) translateY(10px);
  }
  30% {
    transform: translateX(-70px) translateY(-10px);
  }
  40% {
    transform: translateX(-60px) translateY(10px);
  }
  50% {
    transform: translateX(-50px) translateY(-10px);
  }
  60% {
    transform: translateX(-40px) translateY(10px);
  }
  70% {
    transform: translateX(-30px) translateY(-10px);
  }
  80% {
    transform: translateX(-20px) translateY(10px);
  }
  90% {
    transform: translateX(-10px) translateY(-10px);
  }
  100% {
    transform: translateX(0px) translateY(0px);
  }
}
